<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<script type="text/javascript">
    var tag_num = 2;
    function Add(){
    var oTag = document.createElement("input");
    oTag.setAttribute("type", "url");
    oTag.setAttribute("size", "60");
    oTag.setAttribute("name", "URL" + tag_num);
    oTag.setAttribute("placeholder", "URL" + tag_num);
    tag_num++
    var oDiv = document.getElementById("area");
    oDiv.appendChild(oTag);
    }
</script>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete page</title>
    <link rel="stylesheet" href="../CSS/find.css">
    <meta name="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset%-DUTF-8" />
<style>
<style>
h1 ( font-size:18pt; font-weight:bold; color:gray; }
body ( font-size:13pt; color:gray; margin:5px 25px; }
td ( padding:0px 20px; background:#eee;}
</style>
</head>
<body>

<header>
        <div class="container">
          <div class="header-left">
            <a href="https://natic.nissho-ele.co.jp/"><img class="nissho" src="../picture/natic_vi_600_400.png"></a>
          </div>
          <div class="header-right">
            <a th:href="@{/}">登録</a>
            <a th:href="@{/find}">リスト</a>
            <a href="home.html" th:href="@{/home}">ホーム</a>
            <a th:href="@{/login}">ログアウト</a>
          </div>
        </div>
      </header>
      
<div class="content">
	<h1>Delete page</h1>
	
	<table>
			<tr>
				<td><Label for="name">タイトル</label></td>
				<td><p name="title" th:text="${title}"/></p></td>
			</tr>
			<tr>
				<td><Label for="memo">メモ</label></td>
				<td><p name="memo" th:text="${memo}"></p></td>
			</tr>
			<tr>
				<td><Label for="url1">URL1</label></td>
				<td><p name="url1" th:text="${url1}"></p></td>
			</tr>
			<tr>
				<td><Label for="url2">URL2</label></td>
				<td><p name="url2"  th:text="${url2}"></p></td>
			</tr>
			<tr>
				<td><Label for="url3">URL3</label></td>
				<td><p name="url3"  th:text="${url3}"></p></td>
			</tr>
        <form  action="http://localhost:8080/delete" method="post" >
			<!-- <input  type="text" name = "titleID" th:text="${obj.id}"/> -->
			<button style="padding: 10px;padding: 15px;width: 7%;margin-top: 5px;"  type="submit" th:value="${ID}" name = "id">削除</button>
		</form>
	</table>
	</div>
</body>
</html>
